
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}
/*HEADER*/
.navbar {
    background-color: #0a1a2a;
  }
  .navbar-brand img {
    height: 70px;
  }
  .navbar-nav .nav-link {
    color: #ffc107 !important;
    font-weight: bold;
  }
  .search-bar {
    max-width: 400px;
    display: flex;
  }
  .search-bar input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .search-bar button {
    background-color: #ffc107;
    color: #000;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .btn-login {
    background-color: #ffc107;
    color: #000;
    font-weight: bold;
    
  }
/*SLIKA*/
.hero-section {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url('slike/pilot.png'); 
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 51, 102, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.hero-text h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-text p {
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/*FEATURED MOVIES*/
.movie-section {
    padding: 20px;
    color: #ffd700;
}

.section-title {
    text-align: left;
    font-size: 1.5rem;
    color: #ffd700;
    padding-bottom: 10px;
}

.movie-slider {
    display: flex;
    align-items: center;
    position: relative;
}

.movies-container {
    display: flex;
    overflow: hidden;
    gap: 15px;
    padding: 20px 0;
    width: 100%;
    scroll-behavior: smooth;
}

.movie-card {
    background-color: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    flex-shrink: 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.movie-card img {
    width: 100%;
    height: 300px;
    border-bottom: 2px solid #ffd700;
    cursor: pointer;
}

.movie-info {
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
}

.movie-title {
    font-size: 1rem;
    margin-top: 5px;
}

.movie-rating {
    color: #ffd700;
    font-size: 0.9rem;
}
.action-buttons button, .tv-series-buttons button {
    background-color: #333;
    color: #ffffff;
    border: 1px solid #555;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    flex: 1;
    margin: 5px;
}

.arrow {
    font-size: 2rem;
    color: #ffd700;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

/* footer */

footer {
    background-color: #0B192C;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-logo img {
    height: 70px;
}

.footer-social {
    display: flex;
    gap: 15px;
}

.social-icon {
    color: #ffffff;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #ffd700;
}

.footer-info {
    font-size: 0.9rem;
    text-align: center;
}

.footer-info a {
    color: #ffd700;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}

/*serije*/
.tv-series-section {
    padding: 20px;
    color: #ffd700;
}

.tv-series-slider {
    display: flex;
    align-items: center;
    position: relative;
}

.tv-series-container {
    display: flex;
    overflow: hidden;
    gap: 15px;
    padding: 20px 0;
    width: 100%;
    scroll-behavior: smooth;
}

.tv-series-card {
    background-color: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    flex-shrink: 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.tv-series-card img {
    width: 100%;
    height: 300px;
    border-bottom: 2px solid #ffd700;
    cursor: pointer;
}

.tv-series-info {
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
}

.tv-series-title {
    font-size: 1rem;
    margin-top: 5px;
}

.tv-series-rating {
    color: #ffd700;
    font-size: 0.9rem;
}

.tv-series-buttons, .action-buttons  {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.tv-series-buttons button:hover, .action-buttons button:hover {
    background-color: #555;
}


.containerMovie {
    display: flex;
    
}

.sidebar {
    width: 20%;
    background-color: #2c3e50; /* Modernija boja */
    color: #ecf0f1; /* Svjetlija boja teksta za kontrast */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Suptilan efekt sjene */
}

.sidebar h2 {
    font-size: 1.5rem; /* Veći naslov */
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffd700; /* Zlatna boja za isticanje */
    border-bottom: 2px solid #ffd700; /* Linija ispod naslova */
    padding-bottom: 10px;
}

.sidebar label {
    font-size: 1rem;
    margin-top: 10px;
    display: block; /* Kako bi svaki label bio na novom redu */
    color: #ecf0f1;
    font-weight: bold;
}

.sidebar select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #34495e;
    border-radius: 5px;
    background-color: #1c2a3a;
    color: #ecf0f1;
    font-size: 1rem;
}

.sidebar select:hover,
.sidebar select:focus {
    border-color: #ffd700;
    outline: none;
}



  .movies-main {
    width: 80%;
    background-color: #121212;
    color: #ffffff;
    padding: 20px;
  }
  
  #movies-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
  }
  
  .movie-item {
    text-align: center;
    background-color: #1c2a3a;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .movie-item img {
    width: 100%;
    max-width: 180px;
    height: auto;
    border-radius: 8px;
  }
  
  .movie-item h3 {
    color: #ffc107;
    font-size: 1.1em;
    margin-top: 10px;
  }
  
  #show-more {
    background-color: #ffc107;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
  }
  
  #show-more:hover {
    background-color: #e0a800;
  }


  .tv-series-item {
    text-align: center;
    background-color: #1c2a3a;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    cursor: pointer;
}

.tv-series-item img {
    width: 100%;
    max-width: 180px;
    height: auto;
    border-radius: 8px;
}

.tv-series-item h3 {
    color: #ffc107;
    font-size: 1.1em;
    margin-top: 10px;
}

.tv-series-item p {
    font-size: 0.9em;
    color: #ffffff;
}
#series-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
  }

  /*LOGIN*/
  .bodyLogin {
    font-family: Arial, sans-serif;
    background-color: #0B192C;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-box, .register-box {
    background-color: #1c1c1c;
    padding: 30px 40px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.login-box, .register-box h2 {
    color: #ffd700;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #2a2a2a;
    padding: 10px;
}

.input-group i {
    color: #ffd700;
    margin-right: 10px;
    font-size: 1rem;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: none;
    color: #ffffff;
    font-size: 1rem;
}

.login-button {
    background-color: #ffd700;
    color: #0B192C;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #e5c200;
}

.forgot-password {
    margin-top: 15px;
    font-size: 0.9rem;
}

.forgot-password a {
    color: #ffd700;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.register-link, .login-link {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #ffffff;
}

.register-link a, .login-link a {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover, .login-link a:hover {
    text-decoration: underline;
}
/*Glumci*/
.actors-section {
    padding: 20px;
    color: #ffd700;
}

.actors-slider {
    display: flex;
    align-items: center;
    position: relative;
}

.actors-container {
    display: flex;
    overflow: hidden;
    gap: 15px;
    padding: 20px 0;
    width: 100%;
    scroll-behavior: smooth;
}

.actor-card {
    overflow: hidden;
    width: 200px;
    flex-shrink: 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.actor-card img {
    width: 200px;
    height: 200px; 
    object-fit: cover;
    border-radius: 50%; 
    border: 2px solid #ffd700; 
    cursor: pointer;
}

.actor-info {
    padding: 10px;
    color: #ffffff;
}

.actor-name {
    font-size: 1rem;
    margin-top: 5px;
    cursor: pointer;
}
.movie-header, .series-header {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.movie-header img, .series-header img {
    max-width: 300px;
    border-radius: 10px;
}

.movie-header div, .series-header div {
    flex: 1;
}

#reviews-section {
    margin: 20px;
}

#review-form {
    margin-top: 20px;
}

#review-text {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#review-form button {
    padding: 10px 20px;
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


/*stranica glumaca*/
header nav ul {
    display: flex;
    list-style: none;
    background-color: #343a40;
    padding: 10px;
    margin: 0;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #ffc107;
}

/* Detalji o glumcu */
.actor-header {
    display: flex;
    align-items: flex-start;
    background-color: rgba(0, 51, 102, 0.7);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.actor-header img {
    width: 150px;
    height: 200px;
    border-radius: 8px;
    margin-right: 20px;
    object-fit: cover;
}

.actor-info h1 {
    margin-top: 0;
    color: white;
    font-size: 2em;
}

.actor-info p {
    font-size: 1em;
    color: white;
    line-height: 1.5;
}

.actor-info ul {
    list-style: none;
    padding: 0;
}

.actor-info ul li {
    margin-bottom: 10px;
    font-size: 1em;
}

/* Poznati filmovi */
.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    margin: 20px;
}

.movies-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Filmografija */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #1E3E62;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

table th, table td {
    padding: 10px;
    text-align: left;
    
}

table th {
    background-color: #343a40;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #0B192C;
}

table tr:hover {
    background-color: #325883;
}

@media (max-width: 1024px) {
    .containerMovie {
        flex-direction: column; /* Sidebar i glavni sadržaj jedan ispod drugog */
    }

    .sidebar {
        width: 100%; /* Sidebar zauzima cijelu širinu */
        margin-bottom: 20px; /* Razmak ispod sidebar-a */
    }

    .movies-main {
        width: 100%;
        grid-template-columns: repeat(3, 1fr); /* Prikaz 3 filma po redu */
    }

    .movie-item img {
        max-width: 150px;
    }
    .movie-card {
        width: 200px;
    }
}

/* Stilovi za mobitele (širina do 768px) */
@media (max-width: 768px) {
    .search-bar {
        max-width: 150px;
      }
      .navbar-collapse {
        justify-content: center; 
      }
      .navbar-nav {
        flex-direction: row;
        align-items: center;
      }
      .navbar-nav {
          flex-direction: column;
          width: 100%;
        }
        .navbar-nav .nav-item {
          text-align: center;
        }
    .containerMovie {
        flex-direction: column; /* Sidebar ispod glavnog sadržaja */
    }

    .sidebar {
        width: 100%;
        padding: 15px;
    }

    #movies-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
      }
    #series-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
      }

    .movie-item img {
        max-width: 100px;
        
    }
    .movies-container {
        gap: 40px;
    }
    .tv-series-container {
        gap: 40px;
    }
   
    
}
@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .footer-info {
        text-align: right;
    }
    
}
@media (max-width: 400px) {
    .login-box {
        padding: 20px;
    }
}